
html
  head
    title= title
  body
    h1= heading
    p
      | It's almost Christmas time, and Iam so #{storyVariables.adjective1} about it! One of my favorite 
      | traditions is picking out a Chrismas tree. This Year, my family decided to #{storyVariables.verb1} to  
      | the mountains to chp down our own. It was quite the adventure! First, we all #{storyVariables.verb1} into the 
      | #{storyVariables.noun1}. We had only been gone a few minutes when we realized that we had forgotten 
      | the #{storyVariables.noun2}. We had to go all the way back to get it! Once we had started off again, my 
      | brother looked out the back window and saw a #{storyVariables.adjective2} #{storyVariables.noun2}! Oviously we 
      | had to stop to take pictures of that. We kep driving, and eventually got to a #{storyVariables.adjective1} forest.
      | Here was where we would find our #{storyVariables.adjective2} Christmas tree! My brother and I #{storyVariables.verb1} 
      | to find our favorite, but I #{storyVariables.verb2} loudly, which caused him to fall down. He started 
      | #{storyVariables.verb3}, so I had to help him, and by that time, it was #{storyVariables.adjective1} out. My 
      | parents were so #{storyVariables.adjective2} with us that they just picked out the first tree they saw. Boy was it
      | #{storyVariables.adjective3}! Oh well. I guess there's always next #{storyVariables.noun3}.
    
